*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ol,
ul,
menu {
    list-style-type: none;
}
img {
    max-width: 100%;
}
button{
    background: transparent;
}

/* layout */
.container{
    margin: 0 auto;
    max-width: 900px;
    
}


.row{
    display: flex;
    flex-wrap: wrap;
}

[class^='col']{
    min-height: 30px;
}

.logo{
    background-color: #ADD8E6;
}

.logo [class^='col']{
    background-color: #DAA520;
}
/* column width */
.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2{
    width: calc((100% / 12) * 2);
}
.col-3{
    width: calc((100% / 12) * 3);
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-5{
    width: calc((100% / 12) * 5);
}

.col-6{
    width: calc((100% / 12) * 6);
}

.col-7{
    width: calc((100% / 12) * 7);
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-9{
    width: calc((100% / 12) * 9);
}

.col-10{
    width: calc((100% / 12) * 10);
}

.col-11{
    width: calc((100% / 12) * 11);
}
.col-12{
    width: 100%;
}

/* style */

.title [class^='col']{
    margin: 0 auto;
    min-height: 200px;
    background-color: #EE82EE;
}

.title {
    background-color: #00008B;
}

.card [class^='col']{
    min-height: 150px;

}
.card .col-8 {
    background-color: #1E90FF;
}
.card .col-4{
    background-color: #FFC0CB;
}
.reverse{
    flex-direction: row-reverse;
}

.gray-section{
    background-color: #D3D3D3;
}

.card .col-12{
    background-color: #228B22;
    min-height: 300px;
}

.foot-top, .foot-bottom{
    background-color: #23272A;
    border-bottom: solid 2px #D3D3D3;
}
.foot-top [class^='col']{
    min-height: 200px;
    display: flex;
}

.foot-top .col-4{
    background-color: #F08080;
}
.foot-top .col-2{
    background-color: #20B2AA;
}

.foot-bottom .col-12{
    background-color: #7FFFD4;
    min-height: 50px;
    
    
}

.foot-logo{
    border: 2px solid blue;
    min-width: 50px;
    min-height: 20px;
}

.foot-bottom [class^='col']{
    display: flex;
    justify-content: space-between;
}







/* debug */
.debug .container{
    border: 2px solid black;
    padding: 10px;

}

.debug .row{
    border: 2px solid green;
    padding: 10px;
}

.debug [class^='col']{
    border: 2px solid purple;
    padding: 10px;
    
}