*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ol,
ul,
menu {
    list-style-type: none;
}
img {
    max-width: 100%;
}

/* layout */
.container{
    margin: 0 auto;
    max-width: 900px;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    min-height: 30px;
}

.logo{
    background-color: #ADD8E6;
}

.logo .col{
    background-color: #DAA520;
}
.perc25{
    width: calc(100% / 4);
}

.perc50{
    width: calc(100% / 2);
}

.perc33{
    width: calc(100% / 3);
}

.perc66{
    width: calc((100% / 3) * 2);
}

.perc80{
    width: 80%;
}

.perc100{
    width: 100%;
}
.title .col{
    margin: 0 auto;
    min-height: 200px;
    background-color: #EE82EE;
}

.title {
    background-color: #00008B;
}

.card .col{
    min-height: 150px;

}
.card .perc66 {
    background-color: #1E90FF;
}
.card .perc33{
    background-color: #FFC0CB;
}
.reverse{
    flex-direction: row-reverse;
}

.gray-section{
    background-color: #D3D3D3;
}

.card .perc100{
    background-color: #228B22;
    min-height: 300px;
}






/* debug */
.debug .container{
    border: 2px solid black;
    padding: 10px;

}

.debug .row{
    border: 2px solid green;
    padding: 10px;
}

.debug .col{
    border: 2px solid purple;
    padding: 10px;
    
}