*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ol,
ul,
menu {
    list-style-type: none;
}
img {
    max-width: 100%;
}

/* layout */
.container{
    margin: 0 auto;
    max-width: 900px;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.logo{
    background-color: #ADD8E6;
}

.logo .col{
    padding: 0;
}

.perc25{
    width: calc(100% / 4);
}

.perc50{
    width: calc(100% / 2);
}

.perc33{
    width: calc(100% / 3);
}

.perc66{
    width: calc((100% / 3) * 2);
}

.perc80{
    width: 80%;
}






/* debug */
.debug .container{
    border: 2px solid black;
    padding: 10px;

}

.debug .row{
    border: 2px solid green;
    padding: 10px;
}

.debug .col{
    border: 2px solid red;
    padding: 10px;
    min-width: 100px;
}